<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Login Page | Amaze UI Example</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="stylesheet" th:href="@{AmazeUI/css/amazeui.min.css}"/>
    <link rel="stylesheet" th:href="@{AmazeUI/css/app.css}"/>
    <link rel="alternate icon" type="image/x-icon" th:href="@{AmazeUI/i/favicon.ico}"/>
    <style>
        .header {
            text-align: center;
        }

        .header h1 {
            font-size: 200%;
            color: #333;
            margin-top: 30px;
        }

        .header p {
            font-size: 14px;
        }
    </style>
</head>
<body>
<div class="header">
    <div class="am-g">
        <h1>Enjoy Yourself</h1>
        <p>Code changes life !<br/>代码改变人生</p>
    </div>
    <hr/>

</div>

<div class="am-g">
    <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
        <h3 class="am-text-center">提示</h3>
        <hr>
        <p class="am-text-sm am-text-center">这是一个定时自动签到的系统</p>
        <hr>
        <p class="am-text-sm am-text-center">请输入正确的邮件地址，姓名，和刷卡号，同时需要设置6个刷卡时间，和一个延时种子。</p>
        <hr>
        <p class="am-text-sm am-text-center">
            延时种子（整数）：代表x分钟。假设8:21刷卡，而你的延时种子是3，那么每次的刷卡时间都不是固定的，会在3分钟内随机刷卡一次。当然了，数值越大，你的刷卡记录越真实！6次刷卡都是基于这一个仿真种子进行随机延时的。</p>
        <br>

        <form method="post" class="am-form" th:action="@{/login}" th:method="post">
            <label for="username">邮箱:</label>
            <input type="email" name="username" id="username" value="" required="required"/>
            <br>
            <label for="idCard">卡号:</label>
            <input type="number" min="" name="idCard" id="idCard" value="" required="required"/>
            <br>
            <label for="name">姓名:</label>
            <input type="text" name="name" id="name" value="" required="required"/>
            <br>
            <label for="time1">上午签到:</label>
            <input type="time" name="time1" id="time1" value="08:20" required="required"/>
            <br>
            <label for="time2">上午签退:</label>
            <input type="time" name="time2" id="time2" value="11:40" required="required"/>
            <br>
            <label for="time3">下午签到:</label>
            <input type="time" name="time3" id="time3" value="14:15" required="required"/>
            <br>
            <label for="time4">下午签退:</label>
            <input type="time" name="time4" id="time4" value="17:40" required="required"/>
            <br>
            <label for="time5">晚上签到:</label>
            <input type="time" name="time5" id="time5" value="19:00" required="required"/>
            <br>
            <label for="time6">晚上签退:</label>
            <input type="time" name="time6" id="time6" value="22:30" required="required"/>
            <br>
            <br/>
            <div class="am-cf">
                <input type="submit" name="" value="登 录" class="am-btn am-btn-primary am-btn-sm am-fl">
            </div>
        </form>
        <hr>
        <p class="am-text-sm am-text-center">Copyright &copy;
            <a href="http://labs.xjtudlc.com/labs/index.html">陕西省天地网技术重点实验室</a></p>
    </div>
</div>

<link rel="stylesheet" th:href="@{plugs/jquery.min.js}"/>
<link rel="stylesheet" th:href="@{AmazeUI/js/amazeui.min.js}"/>

</body>
</html>
